{% extends 'base.html' %}

{% block header %}
  {% block title %}
    Turma
  {% endblock %}
{% endblock %}

{% block botaonav %}
  <button class="btn btn-outline-dark d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas">☰</button>
{% endblock %}

{% block conteudo %}
  <!-- Sidebar telas pequenas -->
  <div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="sidebarOffcanvas">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <h5 class="offcanvas-title border border-black d-flex justify-content-center align-items-center text-center square mb-2">{{ nome_disciplina }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.postagens_prof', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link" type="submit">Postagens</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.atividade_prof', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Atividades</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.arquivos_prof',  turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Arquivos</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.materias_prof', turma_id=turma_id) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link" class="btn-voltar">Voltar</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <!-- Sidebar telas médias e maiores -->
  <div class="d-none d-md-block bg-light position-fixed start-0 top-0 pt-5 h-100 border-end border-black z-0" style="width: 250px;">
    <div class="p-3">
      <h5 class="border border-black d-flex justify-content-center align-items-center text-center square bg-white mb-3">{{ nome_disciplina }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.postagens_prof', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Postagens</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.atividade_prof', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Atividades</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.arquivos_prof', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Arquivos</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.materias_prof', turma_id=turma_id) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Voltar às matérias</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <!-- Conteúdo principal -->
  <div class="container-fluid">
    <div class="row">
      <div class="col" id="conteudo">
        <h2 class="text-center m-2">Arquivos</h2>

        <div class="bg-white border border-black rounded p-3">
          <p>
            <strong>Arquivos Anexados:</strong>
          </p>
          {% if arquivos %}
            {% for arquivo in arquivos %}
            <div class="d-flex justify-content-between align-items-center border rounded p-2 m-1">
              <span>{{ arquivo.nome_original }}</span>
              <div>
                <a href="{{ url_for('static', filename='uploads/' + arquivo.nome_arquivo) }}"  download><button class="btn btn-primary">Baixar</button></a>
                  <form action="{{ url_for('auth.excluir_arquivo', arquivo_id=arquivo.id) }}" method="post" style="display:inline;"><button type="submit" class="btn btn-danger">Excluir</button></form>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <p class="text-center mt-3">Nenhum arquivo enviado.</p>
          {% endif %}

          <div class="d-flex align-items-center justify-content-center">

            <form action="{{ url_for('auth.upload_arquivo', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}" method="POST" enctype="multipart/form-data" class="d-flex flex-column align-items-center justify-content-center">
              
              <input class="form-control m-2" type="file" name="file" required />
              <button class="btn btn-success" type="submit">Enviar arquivo</button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
