{% extends 'base.html' %}

{% block header %}
  {% block title %}
    Área do professor coordenador
  {% endblock %}
{% endblock %}

{% block classe %}
prof-coord
{% endblock %}

{% block conteudo %}
  <div class="flex-fill d-flex flex-column justify-content-center p-2 border-end sidebar col-12 col-md-3">
    <div class="d-flex flex-column">
        <div class="mb-5 border-bottom">
      <h4>Área do Coordenador(a) e Professor(a)</h4></div>
      <div class="m-1 link">
        <a class="no-underline d-block border-bottom p-1" href="{{ url_for('auth.editar_funcionario', funcionario_id=session.usuario_id, next='dashboard_prof_coorde') }}">Editar Meus Dados</a>
      </div>
      
      <div class="m-1 link">
        <a class="no-underline d-block border-bottom p-1" href="{{ url_for('auth.dashboard_coordenacao') }}">Área da Coordenação</a>
      </div>

      <div class="m-1 link">
        <a class="no-underline d-block border-bottom p-1" href="{{ url_for('auth.turmas') }}">Turmas</a>
      </div>
      
      <div class="m-1 link">
        <a class="no-underline d-block border-bottom p-1" href="{{ url_for('auth.logout') }}">Sair</a>
      </div>
    </div>
  </div>
{% endblock %}
