{% extends 'base.html' %}

{% block header %}
  {% block title %}
    Gerenciar Turmas
  {% endblock %}
{% endblock %}

{% block classe %}

{% endblock %}

{% block conteudo %}
  {% if turmas %}
    <div class="container-fluid text-center mt-2">
      <div class="row">
        {% for turma in turmas %}
          <div class="col mb-2">
            <form method="get" action="{{ url_for('auth.ver_turma', turma_id=turma.0) }}">
                <button class="object-fit-sm-contain btn btn-light border btn-square border border-black" type="submit"><h5>{{ turma.1 }}</h5></button>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="d-flex align-items-center justify-content-center m-2">Nenhuma Turma Adicionada</div>
  {% endif %}
  <br>
  <div class="text-center">
    <a class="btn btn-primary" href="{{ url_for('auth.adicionar_turma') }}">Adicionar Turma</a>
    <a class="btn btn-primary" href="{{ url_for('auth.dashboard_coordenacao') }}">Voltar</a>
  </div>
  <br>
  <br>
  <div class="text-center">
  <form id="formReiniciar" action="{{ url_for('auth.reiniciar_ano_letivo') }}" method="POST">
    <button type="button" class="btn btn-danger fs-3" id="Reinicar_Ano_Letivo">
      REINICIAR ANO LETIVO
    </button>
  </form>
</div>

<script>
  document.getElementById('Reinicar_Ano_Letivo').addEventListener('click', function (e) {
    e.preventDefault(); // impede envio automático

    Swal.fire({
      title: 'VOCÊ TEM CERTEZA?',
      text: 'VOCÊ TEM TOTAL CERTEZA QUE QUER REINICIAR O ANO LETIVO? ESSA AÇÃO NÃO PODE SER REVERTIDA E TODAS AS TAREFAS, POSTAGENS E ARQUIVOS SERÃO APAGADOS.',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#d33',
      cancelButtonColor: '#6c757d',
      confirmButtonText: 'Sim, estou ciente e reiniciar',
      cancelButtonText: 'Cancelar'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById('formReiniciar').submit();
      }
    });
  });
</script>
{% endblock %}