{% extends 'base.html' %}

{% block header %}
  {% block title %}
    Turma
  {% endblock %}
{% endblock %}

{% block botaonav %}
  <button class="btn btn-outline-dark d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarOffcanvas">☰</button>
{% endblock %}

{% block conteudo %}
  <!-- Sidebar telas pequenas -->
  <div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="sidebarOffcanvas">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
      <h5 class="border border-black d-flex justify-content-center align-items-center text-center square bg-white mb-3">{{ nome_disciplina }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.postagens', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link" type="submit">Postagens</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.atividades', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Atividades</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.arquivos', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Arquivos</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.materias') }}">
            <button class="btn w-100 text-start rounded-0 p-1 link" class="btn-voltar">Voltar</button>
          </form>
        </li>
      </ul>
    </div>
  </div>

  <!-- Sidebar telas médias e maiores -->
  <div class="d-none d-md-block bg-light position-fixed start-0 top-0 pt-5 h-100 border-end border-black z-0" style="width: 250px;">
    <div class="p-3">
      <h5 class="border border-black d-flex justify-content-center align-items-center text-center square bg-white mb-3">{{ nome_disciplina }}</h5>
      <ul class="nav flex-column">
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.postagens', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Postagens</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.atividades', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Atividades</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.arquivos', turma_id=turma_id, disciplina_id=disciplina_id, nome_disciplina=nome_disciplina) }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Arquivos</button>
          </form>
        </li>
        <li class="nav-item border-bottom border-black m-1">
          <form method="get" action="{{ url_for('auth.materias') }}">
            <button class="btn w-100 text-start rounded-0 p-1 link">Voltar às matérias</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
  <!-- Conteúdo principal -->
  <div class="container-fluid">
    <div class="row">
      <div class="col" id="conteudo">
        <h2 class="text-center m-2">Postagens</h2>
        {% if postagens %}
          {% for post in postagens %}
            <div class="card border-black text-center mb-3">
              <div class="card-header bg-white">
                <h5 class="mb-0">{{ post.titulo }}</h5>
              </div>
              <div class="card-body">
                <p class="card-text">{{ post.conteudo }}</p>
                <small class="text-muted">Professor: {{ post.professor_nome }}</small>

                {% if post.arquivo %}
                  <div class="mt-3">
                    <a download target="_blank" href="{{ post.arquivo }}" 
                      class="btn btn-outline-primary m-1" >
                      Baixar Arquivo
                    </a>
                  </div>
                {% endif %}
              </div>
              <div class="card-footer bg-white">Data: {{ post.data.strftime('%d/%m/%Y %H:%M') }}</div>
            </div>
          {% endfor %}
        {% else %}
          <div class="alert alert-info text-center mt-4">
            Nenhuma atividade encontrada.
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
