{% extends 'base.html' %}

{% block header %}
  {% block title %}
    Turmas
  {% endblock %}
{% endblock %}

{% block classe %}

{% endblock %}

{% block conteudo %}
  {% if turmas %}
    <div class="container-fluid text-center mt-2">
      <div class="row">
        {% for turma in turmas %}
          <div class="col mb-2">
            <form method="get" action="{{ url_for('auth.materias_prof', turma_id=turma[0]) }}">
              <button class="object-fit-sm-contain btn btn-light border btn-square border border-black" type="submit"><h5>{{ turma.1 }}</h5></button>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div class="d-flex align-items-center justify-content-center m-2">
      Você ainda não dá aula para nenhuma turma. Se você já deveria conseguir acessar algumas turmas, por favor entre em contato com a coordenação.
    </div>
  {% endif %}
  
  {% if session['usuario_tipo'] == 'prof_coorde' %}
      <div class="text-center">
        <a class="btn btn-primary" href="{{ url_for('auth.dashboard_prof_coorde') }}">Voltar</a>
      </div>
  {% else %}
      <div class="text-center">
        <a class="btn btn-primary" href="{{ url_for('auth.dashboard_professor') }}">Voltar</a>
      </div>
  {% endif %}


{% endblock %}
